@media only screen and (max-width: 690px) {

.wrapper #screen {
	width: 90%;
}

a {
	display: none;
}

nav a.menu-icon {
	display: block;
	float: right;
	font-size: 1.5em;
	padding: 10px 20px;
	width: auto;

}
	
}