@media only screen and (max-width: 700px) {

.wrapper #screen {
	width: 90%;
}

nav a {
	display: none;
}

nav a.menu-icon {
	display: block;
	float: right;
	font-size: 1.5em;
	padding: 8px 20px;
	width: auto;
	position: relative;
	bottom: 15%;

}
	
}