/* GLOBAL */

* {	
-webkit-box-sizing=border-box;
-moz-box-sizing=border-box;
box-sizing=border-box;
}

.clearfix:after {	
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

/* PAGE */

.wrapper {
	width: 100%
	border: 1px solid green;
}

li {
	display: inline-block;
}

ul {
	list-style: none;
}

header {
	border: 2px dotted orange;
}

#social-buttons {
	border: 2px solid red;
	float: right;
	clear: right;
	margin: 0px 300px 120px 0px;
}

nav {
	border: 2px solid green;
	float: right;
	margin: 0px 200px 0px 0px;
}

iframe {
	height: 238px;
	width: 390px;
	overflow: hidden;
}

body{	
background-color: aqua;
background-image: url(images/Recycled_HDPE_Flakes.jpg);
background-size: cover;
max-width: 100%;
}

/*#moving-background {
	background-image: url(images/bg-homepage.png);
	background-repeat:no-repeat;
	webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}*/

#logo {
	width: 100px;
	height: 100px;
}