/* GLOBAL */

* {	
-webkit-box-sizing=border-box;
-moz-box-sizing=border-box;
box-sizing=border-box;
}

.clearfix:after {	
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

/*.wrapper {
	width: 100%
	border: 1px solid green;
}*/

/* PAGE AND BACKGROUND */

body{	
max-width: 100%;
}

#crushed-bottles-background {
	background-image: url(images/crystal-clear-background.jpg);
	background-size: cover;
	max-width: 100%;
}

#water-bottles-background {
	background-image: url(images/water-bottles.jpg);
	background-size: cover;
	max-width: 100%;
}

#blue-abstract-background {
	background-image: url(images/blue-abstract-background.png);
	background-size: cover;
	max-width: 100%;
}

#alternate-recycle-background {
	background-image: url(images/alternate-recycle-background.jpg);
	background-size: cover;
	max-width: 100%;
}

#flakes-background {
	background-image: url(images/Recycled_HDPE_Flakes.jpg);
	background-size: cover;
	max-width: 100%;	
}

#molecular-background {
	background-image: url(images/lets-bond-color.jpg);
	background-size: cover;
	max-width: 100%;
}

#moving-background {
	background-image: url(images/optical-sorter.gif);
	background-repeat:no-repeat;
	background-size: cover;
	webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-position: center;
}

#alt-moving-background {
	background-image: url(images/preforms-pushed.gif);
	background-repeat:no-repeat;
	background-size: cover;
	webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-position: center;
}

#logo {
	width: 50px;
	height: 50px;
}

header {
	/*HEADER BACKGROUND
	/*border: 2px dotted orange;*/
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

nav {
	/*NAVIGATION BACKGROUND
	/*border: 2px solid green;*/
	float: right;
	clear: both;
	margin: 15px 200px 0px 0px;
}

/*SOCIAL BUTTONS*/

#social-buttons {
	/*border: 2px solid red;*/
	display: block;
	width: 80px;
	height: 40px;
	float: right;
	clear: right;
	margin: 0px 300px 120px 0px;
}

a.facebook {
	background: url(images/social-media-sprites.png) no-repeat;
}

.twitter {
}

.linkedin {
}

#carousel {
/*	border: 2px dotted red;*/
	margin-top: 20px;
}

/*PARAGRAPH*/


/*HEADERS*/

h1 {
	text-align: center;
	color: black;
	background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 77%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(77%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 77%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 77%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 77%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 77%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	/*border: 3px solid white;*/
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	max-width: 500px;
}

h1 p {
	color: white;
}

/*LIST ITEMS*/

ul {
	list-style: none;
}

li {
	display: inline-block;
}

/* HOMEPAGE ARROWS */

#image-test {
	/*border: 4px dotted aqua;*/
	margin-left: 215px;
	margin-bottom: 30px;
}

footer {
	max-width: 100%;
	/*border: 3px dotted yellow;*/
	height: 40px;
	margin-top: 20px;
	color: white;
	background: black;
}

section {
	max-width: 600px;
	background-color: #177133;
	margin-top: 50px;
	margin-left: 300px;
}

article {
	background: #000;
	color: white;
	max-width: 600px;
	margin-bottom: 40px;
	margin-left: 220px;
}

/* SPRITES FOR HOMEPAGE ARROWS */

#top-arrow {
	border: 2px dotted red;
	width: 330px;
	height: 100px;
	margin: 0 auto;
	display: block;
}

#bottom-arrows {
	border: 2px dotted red;
	height: 450px;
}

#arrow-left {
	border: 2px solid green;
	height: 220px;
	width: 225px;
}

#arrow-right {
	border: 2px dashed blue;
	height: 220px;
	width: 225px;
}

a.arrow-top-sprite {
    display: block;
    width:  400px;
    height: 100px;
    background: url(images/arrow-top-sprites.png) no-repeat;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}

a.arrow-top-sprite:hover {
background-position: -165px 0;
}    

/*a.arrow-left-sprite {
    display: block;
    width:  108px;
    height: 200px;
    background: url(images/arrow-top-sprites.png) no-repeat;
    background-position: 0 0;
    overflow: hidden;
    white-space: nowrap;
}

a.arrow-left-sprite:hover {
background-position: -175px 0px;
}    

a.arrow-right-sprite {
    display: block;
    width:  120px;
    height: 210px;
    background: url(images/arrow-top-sprites.png) no-repeat;
    overflow: hidden;
    white-space: nowrap;
}

a.arrow-right-sprite:hover {
background-position: -175px 0px;
}    */


/*GET A QUOTE FORM PAGE*/

form {
	/*border: 3px dotted red;*/
	width: 430px;
	height: 410px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	margin: 0 auto;
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}

input {
	display: block;
}

textarea {
	width: 390px;
}

#fullname-enter-field {
	width: 390px;
}

#email-enter-field {
	width: 390px;
	margin-top: 10px;
}

#phone-number-field {
	width: 390px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#submit-button {
	margin-top: 10px;
	margin-left: 180px;
}

h4 {
	text-align: center;
}

#contact-info {
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	max-width: 40%;
	margin: 0 auto;
}

.hark-player {
	visibility: hidden;
}